@import '../../../scss/vars.scss';

.top-navigation-container {
  height: 7rem;
  width: 100%;
}

.top-navigation-wrapper {
  position: fixed;
  z-index: 10;
  height: 6rem;
  width: calc(100vw - 7rem);
  padding: 0.5rem 0.5rem 0.5rem 0;

  &.--expanded {
    width: calc(100vw - 21rem);
  }
}

.top-navigation {
  height: 100%;
  width: 100%;
  border-radius: $border-radius;
  background-color: var(--rc-color--500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.top-navigation > .__right {
  display: flex;
  align-items: center;
}
