@import '../../../scss/vars.scss';

.left-sidebar-container {
  width: 7rem;
  height: 100vh;

  &.--expanded {
    width: 21rem;
  }
}

.left-sidebar-wrapper {
  position: fixed;
  z-index: 10;
  width: 6rem;
  height: inherit;
  padding: 0.5rem;
  transition: width 0.25s;

  &.--expanded {
    width: 20rem;
  }
}

.left-sidebar {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  background-color: var(--rc-color--500);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > .__logo {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color--600;
    color: #fff;
  }

  > .__menu {
    border-radius: 0;
  }
}
