.guide-readme {
  padding: 1em;
  background-color: var(--rc-color--500);
  margin-bottom: 0.25rem;

  p {
    margin: 1em 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    clear: both;
    margin: 1.6em 0 .6em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }

  ul, ol {
    list-style: none;
  }

  ul > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: circle;
  }

  code {
    background-color: #bfc0c7;
    color: #2f2f2f;
    border-radius: 3px;
    padding: 0 3px;
  }
}
