@import '../../../../scss/vars.scss';

.icon-box {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: $border-radius;
}
