.left-sidebar-container {
  width: 5.5rem;
  height: 100vh;

  &.--expanded {
    width: 20.5rem;
  }
}

.left-sidebar-wrapper {
  position: fixed;
  z-index: 10;
  width: 5rem;
  height: inherit;
  transition: width 0.25s;

  &.--expanded {
    width: 20rem;
  }
}

.left-sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--rc-color--500);
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .__top {
    position: sticky;
    top: 0;
    background-color: var(--rc-color--500);
  }

  .__logo {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0089e4;
    color: #fff;
  }

  > .__menu {
    border-radius: 0;
  }
}
